<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="progressOne + '%'"
                        [attr.aria-valuenow]="progressOne" aria-valuemin="0" aria-valuemax="100"></div>
                </div><!-- progress -->
            </div><!-- /card-body -->
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="progressTwo + '%'"
                        [attr.aria-valuenow]="progressTwo" aria-valuemin="0" aria-valuemax="100"></div>
                </div><!-- progress -->
            </div><!-- /card-body -->
        </div><!-- card -->
    </div><!-- /col-12 -->
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementor legend="Progress one" [progress]="progressOne" (changeValue)="progressOne = $event"></app-incrementor>
            </div>
        </div><!-- /card -->
    </div><!-- /col -->
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementor legend="Progress two" [progress]="progressTwo" (changeValue)="progressTwo = $event"></app-incrementor>
            </div>
        </div>
    </div><!-- /col -->
</div>