<div class="row">
    <div class="col-sm-6">
        <h4 class="card-title">Doctor</h4>
        <h6 class="card-subtitle">Update information</h6>
        <form class="form p-t-20" [formGroup]="doctorForm" (ngSubmit)="saveDoctor()" novalidate>
            <div class="form-group" *ngIf="doctorSelected">
                <label>Photo</label>
                <div class="input-group">
                    <img [src]="doctorSelected.img | image:'doctors'" alt="Doctor">
                </div>
            </div>
            <div class="form-group">
                <label>Name</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input 
                        type="text" 
                        class="form-control"
                        formControlName="name" 
                        placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Hospitals</label>
                <div class="input-group">
                    <select class="form-control" formControlName="hospital">
                        <option value="">Seleccione hospital</option>
                        <option *ngFor="let hospital of hospitals" [value]="hospital._id">{{ hospital.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <pre>{{ formDoctor?.value | json }}</pre>
                <button 
                    type="submit"
                    class="btn btn-success waves-effect waves-light m-r-10">Save</button>
            </div>
        </form>
    </div>
    <div class="col-sm-6 animated fadeIn fast" *ngIf="hospitalSelected">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{ hospitalSelected.name }}</h6>
        <img [src]="hospitalSelected.img | image:'hospitals'" alt="Hospital" class="img-thumbnail">
    </div>
</div>
<div class="card-body">
    
</div>