/* You can add global styles to this file, and also import other style files */
#themeColors a {
    cursor: pointer;
}
.img-avatar {
    width: 200px;
    height: 200px;
}
.w-100 {
    width: 100%;
}
.avatar {
    width: 50px;
    border-radius: 100%;
}
.show {
    display: block;
}
.hidden {
    display: none;
}
.modal-container {
    background-color: rgba(0,0,0,0.4);
}